<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TaskTracking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="Positions">Positions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="isAuth" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>