.gedf-card {
    margin: 1rem;
}

.new-proj_button {
    margin-top: 1rem;
}

.edit-proj-button {
    margin-top: -0.5rem;
    padding: 0.3rem;
}

.remove-proj-button {
    margin-top: -0.5rem;
    padding: 0.3rem;
}