<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Project name</label>
                        <input type="text" class="form-control" [(ngModel)]="project.name" placeholder="New project">
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <input type="text" class="form-control" [(ngModel)]="project.description" placeholder="Description of new project">
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="desc">Deadline of project</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" />
                            </div>
                        </div>
                    </form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="createProject(project)">Create</button>
            </div>
        </div>
    </div>
</div>